@import '~bootstrap/scss/bootstrap.scss';
* {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

*:focus {
	outline: none;
}

button {
	&:focus {
		border: none !important;
		outline: none !important;
	}
}

.preview-img {
	max-width: 200px;
}

.edit-btn {
	float: right;
	position: relative;
	top: 3px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
	margin-right: 10px;
	&:hover {
		opacity: 0.75;
		color: #000;
		text-decoration: none;
	}
}

.hidden {
	display: none;
}
.imgWrapper {
	display: inline-block;
	position: relative;
	.remove {
		position: absolute;
		right: calc(50% - 20px);
		top: calc(50% - 20px);
		border: 3px solid !important;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 40px;
	}
}

.filter-pagination {
	position: fixed;
	bottom: 20px;
	z-index: 100;
	@media (max-width: 600px) {
		left: 0;
		bottom: 40%;
		.pagination {
			flex-direction: column;
			.page-link {
				border-radius: 0;
			}
		}
	}
}

.false-link {
	display: inline-block;
	padding-bottom: 1px;
	border-bottom: 1px dashed;
	cursor: pointer;
}
.articles {
	margin-top: 30px;
	margin-bottom: 50px;
}
.articles-wrapper {
	flex-wrap: wrap;
	display: flex;

	padding: 15px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;

	.article__item {
		padding: 5px;
		margin-right: 5px;
		margin-top: 5px;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		a {
			color: inherit;
		}
		.close {
			margin-left: 10px;
		}
	}
}

.list-group-item {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 600px){
    justify-content: center;
  }
}

.action-btn-group {
	display: flex;
	min-width: 220px;
	justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 600px){
    margin-top: 5px;
    width: 100%;
  }
}
